.about{
    background-color: #e6c8c8;
}
.skills{
      background: #e3bfbfb7;
}
.link{
    background-color: rgb(220, 185, 185);
}
.h3{
    border-left:black ;
    border-radius: 5px;
    padding-left: 5px;
}
.pic{


    width:200px;          
    height: 250px;
    border-radius: 80%;     
    object-fit: cover;     
    border: 3px solid #ff9800; 
    margin-top: 10px;
}
.section{
    font-size: 24px;
    color: #ffb6c1;
    padding-left: 10px;
    margin-bottom: 10px;
}
.title{
    border-left: 6px solid orange;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
}
.skill-icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    flex-grow: inherit;
    padding-left: 100px ;
}
.bgi{
     background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png)
}
